# dependencies
node_modules

# testing
coverage

# next.js
.next/
out/
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# turbo
.turbo

# Yarn Berry (node-modules mode)
.yarn/cache
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/unplugged

# Biome
.biome/cache

